<div class="website">
    <div class="navbar">
        <div class="logo_site">

        </div>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>

        <h1>FrontEnd.uz</h1>
    </div>
    <div #cards class="cards">
        <div class="card_item"></div>
        <div class="card_item"></div>
        <div class="card_item"></div>
        <div class="card_item"></div>
        <div class="card_item"></div>
    </div>
    <div class="contents">
        <div class="cols">
            <div class="content_item1">
                <img src="../../assets/images/image.jpg">
            </div>
          
            <div class="content_item1">
                <img src="../../assets/images/image.jpg">
            </div>
          
        </div>
        <div class="cols">
            <div class="content_item2"></div>
            <div class="content_item2"></div>
            <div class="content_item2"></div>
            <div class="content_item2"></div>
        </div>
        <div class="cols">
            <div class="content_item3"></div>
            <div class="content_item3"></div>
            <div class="content_item3"></div>
            <div class="content_item3"></div>
        </div>
    </div>

</div>