*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.website{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    .header{
        width: 100%;
        height: 70px;
        background-color: aquamarine;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cards{
        display: flex;
        flex-direction: row;

        .card__item{
            background-color: cornflowerblue;
            flex-grow: 1;
            border: 1px solid red;
            flex-basis: 50px;
            height: 100px;
        }
        .card__item2
        {
            background-color: black;
            flex-grow: 1;
        }
    }
}

:host{
    ::ng-deep
    app-page4{
        h1 
        {
            color: rgb(231, 0, 200) !important;
        }
    }
}