<!-- <div class="navbar">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Media</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>


<div class="website">
    <div class="cards" [ngStyle]="{'animation': 'fadeInBottomRight', 'animation-duration': '4s'}">
      <div
      *ngFor="let item of divCount; let i = index" class="card_item"
      [ngStyle]="{'transform':i==clickedIndex ? 'scale(2)':'', 
      'z-index': i==clickedIndex ? '10':'1'
    }"
      (click)="whenclick(i)"
      >
        {{ i + 1 }}
      </div>
    </div>



</div>
,
    'perspective':(divCount.length/5) * 900+'px' -->

    <router-outlet></router-outlet>

